<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" -}}
    <main class="main privacy__main header_height">
      <section class="home_banner py-5 py-md60 align-self-center">
        <div class="container w-100">
          <div class="row align-items-center">
            <div class="col-12 col-md-5">
              <h1 class="typo__h2">Privacy Policy</h1>
            </div>
            <div class="col-12">
              <div class="mt-4">
                <p class="mb-3 typo__h6 w600">
                  Introduction
                </p>
                <p>
                  YourPal Care is a healthcare softech solution company fully committed to protecting your
                  personal information and your right to privacy by adopting the best protective measures.
                  Come up with any questions or concerns about our practices and privacy policy concerning
                  personal information. You can contact us at
                  <a href="mailto:rpmsupport@sarvika.com" class="text-decoration-underline">rpmsupport@sarvika.com</a>.
                  <br />
                  <br />
                  This document is an electronic record under the provisions of the Information Technology
                  Act, 2000, and relevant Rules framed there under (as applicable or amended from time to
                  time). This document is published in accordance with the provisions of Rule 3 (1) of the
                  Information Technology (Intermediaries guidelines) Rules, 2011 which require publishing
                  the rules and regulations, privacy policy, and User agreement for access or usage of the
                  website.
                </p>
              </div>
              <div class="mt-4">
                <p class="mb-3 typo__h6 w600">
                  Your consent
                </p>
                <p>
                  <span class="w600">
                  (A.)
                  </span>
                  YOU ARE HEREBY PROVIDING YOUR UNCONDITIONAL CONSENT AND AGREEMENT AS REQUIRED UNDER
                  SECTION 43A AND SECTION 72A OF THE INFORMATION TECHNOLOGY ACT, 2000.
                  <br />
                  <br />
                  <span class="w600">
                  (B.)
                  </span>
                  When you access our website and use any of our services, we believe and appreciate that
                  you trust us with your personal information that we protect and preserve with utmost
                  professionalism. The reason behind collecting personal information is to simply deliver
                  the best possible solution designed around your requirements that bring you to us. Our
                  strong view on personalization expects us to use the collected information and operate on
                  giving tailored experiences to our users.
                  <br />
                  <br />
                  <span class="w600">
                  (C.)
                  </span>
                  In this privacy policy, we have given our best efforts to explain to you the personal
                  information we collect from your side, how we process it, and what rights are associated
                  with it. It will be appreciated if you dedicate valuable time to read the privacy policy
                  carefully and understand the following terms and conditions. In case our privacy policy
                  doesn’t comply with your understanding, you can discontinue accessing our services
                  immediately.
                  <br />
                  <br />
                  <span class="w600">
                  (D.)
                  </span>
                  This privacy policy also covers all sorts of information obtained through our services or
                  sales, marketing, and related practices. We also reserve the right to alter/change the
                  policy without providing any prior notification. Although, there will be the least chance
                  of any changes that let us use your personal information posted during information
                  collection unless ordered by any legislative body/ law.
                  <br />
                  <br />
                  <span class="w600">
                  (E.)
                  </span>
                  Keeping your personal information safe is important to us. We will share the information
                  with your consent as per the laws to deliver services and fulfill your business
                  obligations. We may share your information when there is a legitimate requirement as per
                  the governing body, law, court order, or legal process. The information can get shared if
                  we find there is a violation of our policies, fraud, and threat situation faced by any
                  individual or as a form of evidence. We may share your data with third-party vendors,
                  service providers, healthcare experts, or hospitals who perform services for us or on our
                  behalf and require access to such information to do that work.
                </p>
              </div>
              <div class="mt-4">
                <p class="mb-3 typo__h6 w600">
                  About the company
                </p>
                <p>
                  YourPal Care Pvt Ltd is located at Ganesham Trade Centre, 4th and 5th Floor, Gopal
                  Nagar A, Ashok Vihar Ext, Gopalpura Bypass Rd, Jaipur, Rajasthan 302015. Our phone number
                  is +91-141-4911243, and our email address is
                  <a href="mailto:rpmsupport@sarvika.com" class="text-decoration-underline">rpmsupport@sarvika.com</a>. The Remote Patient
                  Monitoring Program covers devices and services used by individuals through their
                  physician/ medical service provider.
                  <br />
                  <br />
                  We are focused on safeguarding the protection and individual data of our clients,
                  providers, and different partners. We regard your inclinations with respect to the
                  assortment and utilization of your own data and the accompanying strategy sets out how we
                  gather, store, use, and uncover individual data given to RPM.
                </p>
              </div>
              <div class="mt-4">
                <p class="typo__h5 mb-3 w600">
                  What does this Privacy Policy Cover?
                </p>
                <p class="mb-3 typo__h6 w600">
                  Information we collect
                </p>
                <p>
                  The information we obtain from our users gets 
                  further divided into the following categories but is not limited to the mentioned ones
                </p>
                <br />
                <br />
                <p class="mb-3 typo__h6 w600">
                  Demographic information
                </p>
                <ul>
                  <li>Name </li>
                  <li>Birth year</li>
                  <li>Gender</li>
                  <li>Weight</li>
                  <li>Height</li>
                  <li>Contact Number</li>
                  <li>Email Id </li>
                  <li>Location </li>
                  <li>Country</li>
                  <li>Preferred language</li>
                  <li>Zip Code</li>
                </ul>
                <br />
                <br />
                <p class="mb-3 typo__h6 w600">
                  Support Data
                </p>
                <p>IP Address - Only in case of troubleshooting any technical issue</p>
                <br />
                <br />
                <p class="mb-3 typo__h6 w600">
                  Health-related information
                </p>
                <ul>
                  <li>Family history</span>
                  <li>Addiction History</span>
                  <li>Personal Medical History</span>
                </ul>
                <br />
                <p class="mb-3 typo__h6 w600">
                  How will we access your personal information?
                </p>
                <p>
                  We assure you that your provided information will be accessed for legitimate business
                  purposes and won’t be used for any sort of activity beyond the Indian geographical
                  territories unless it's legally bounded. Your information will be accessed by our
                  employees only on a “need-to-know basis” and will be strictly treated as confidential
                  information. The information will only be disclosed when required by law, and we will take
                  your consent before doing the same. Below are the following purposes for which your data
                  will be processed
                </p>
                <br />
                <ul>
                  <li>Fulfilling our purposes as per the terms of use</li>
                  <li>Establish communication regarding managing your account</li>
                  <li>Store and Track your data</li>
                  <li>Request made by Public and Government authorities as per laws. </li>
                  <li>Judicial Proceedings and Court orders</li>
                  <li>Handling technical support </li>
                  <li>Managing and improving our information</li>
                  <li>Payment Process </li>
                  <li>Quality Check of Services provided</li>
                  <li>Security </li>
                  <li>Monitoring health and overall condition</li>
                </ul>
                <br />
                <br />
                <p class="mb-3 typo__h6 w600">
                  How long do we keep your data with us?
                </p>
                <p>
                  Your information will be kept with us till our purpose mentioned in the privacy policy
                  gets accomplished. However, the period can be extended if there are any law-related
                  requirements. Your personal information will be deleted or anonymized post-completion of
                  our business objectives from our database. If your information is stored in the backup
                  archives, we will be isolating and prohibiting its access for everyone. We won’t be
                  keeping your information with us for longer than 3 years.
                </p>
                <br />
                <br />
                <p class="mb-3 typo__h6 w600">
                  What measures do we incorporate to keep your information safe?
                </p>
                <p>
                  We have implemented top-notch industry standards, and technical and organizational
                  security measures to secure any sort of personal information. In any case, despite our
                  protections and endeavors to get your data, no electronic transmission over the Web or
                  data stockpiling innovation can guarantee to be 100 percent secure, so we can't commit
                  or assure that programmers, cybercriminals, or other unapproved outsiders can not overcome
                  our security, and inappropriately gather, access, take, or adjust your data. Even though
                  we will give our all to safeguard your data, the transmission of individual data to and
                  from our Administrations is despite the danger. You ought to just access the
                  Administrations inside a secure climate.
                </p>
                <br />
                <br />
                <p class="mb-3 typo__h6 w600">
                  Do we collect the information from individuals below 18 years?
                </p>
                <p>
                  Our personal information collects the present age of individuals who wish to access our service. 
                  In case you present that you are below 18 years, we need the consent of your parents/guardians to use our services. 
                  For further information regarding this, connect with us at 
                  <a href="mailto:rpmsupport@sarvika.com" class="text-decoration-underline">rpmsupport@sarvika.com</a>
                </p>
                <br />
                <br />
                <p class="mb-3 typo__h6 w600">
                  What privacy rights do you achieve?
                </p>
                <p>
                  As a service holder, you have complete rights to alter, review, or discontinue our service
                  at any moment. In case, you are not satisfied with our services or have any other
                  concerns, reach out to us at
                  <a href="mailto:rpmsupport@sarvika.com" class="text-decoration-underline">rpmsupport@sarvika.com</a>
                </p>
                <br />
                <br />
                <p class="mb-3 typo__h6 w600">
                  How can you protect your personal information?
                </p>
                <p>
                  It will be fruitful if we collectively work together in securing your device and personal
                  information. There will be no emails from our end requesting your confidential information
                  such as bank account number, user id, password, or any other crucial information. We
                  strictly advise you to avoid responding to such emails. If you find an email asking for
                  personal information that appears like it's sent by us, notify our team to take
                  further action.
                  <br />
                  <br />
                  You bear complete responsibility to protect your personal information from disclosure to
                  any third party. If you experience any suspicious activity that can directly/indirectly
                  harm your personal information and raise security concerns, notify us at
                  <a href="mailto:rpmsupport@sarvika.com" class="text-decoration-underline">rpmsupport@sarvika.com</a>.
                  <br />
                  <br />
                  As per the data protection laws, below are the rights you possess regarding personal data.
                  <br />
                <ul>
                  <li>Access your data</li>
                  <li>Erase your data as per the laws.</li>
                  <li>Access communication as per the processing of your data</li>
                  <li>
                    Restrict the processing of your data as per the limit permitted by the law.
                  </li>
                  <li>
                    To object to the further processing of your data. For example – For Marketing
                    Purposes.
                  </li>
                  <li>To inquire about transferring your data to a third party. </li>
                  <li>
                    To receive your personal information in a structured and readable format.
                  </li>
                  <li>For making a complaint to a supervisory body</li>
                  <li>Rectifying data if inaccurate</li>
                </ul>
                </p>
                <p>
                  We do not assure on the accuracy of any of the third party devices integrated, 
                  nor do we claim to provide any sort of medical assistance. 
                  The only purpose of the application is to digitally display the health data collected 
                  through integrated health devices. 
                </p>
                <br />
                <p>
                  If you have any questions or concerns regarding this privacy policy, please reach our team
                  by email at <a href="mailto:rpmsupport@sarvika.com" class="text-decoration-underline">rpmsupport@sarvika.com</a> or write to
                  us at Ganesham Trade Centre, 4th and 5th Floor, Gopal Nagar A, Ashok Vihar Ext, Gopalpura
                  Bypass Rd, Jaipur, Rajasthan 302015.
                  <br />
                  <br />
                  Contact Us and reach our team if You have any questions about this Privacy Policy. Contact
                  Us by email at <a href="mailto:rpmsupport@sarvika.com" class="text-decoration-underline">rpmsupport@sarvika.com</a> or write
                  to us at Ganesham Trade Centre, 4th and 5th Floor, Gopal Nagar A, Ashok Vihar Ext,
                  Gopalpura Bypass Rd, Jaipur, Rajasthan 302015.
                  <br />
                  <br />
                  Please note that email communications are vulnerable to security. So don’t share any
                  sensitive or confidential information via email.
                  <br />
                  <br />
                  This Privacy Policy was last updated and reviewed on January, 2023.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    {{- partial "footer.html" . -}} {{- partial "javascript.html" . -}}
  </body>
</html>