{{ define "main"}}

<div class="col-12 col-md-5">
  <h5>Welcome To RPM</h5>
  <h1 class="typo__h2">Monitor your hypertension levels.</h1>
  <p class="typo__h5 mt-3">
    Switch to a smart way of tracking your blood pressure and take active
    control of your body.
  </p>
  <div class="row g-2 g-lg-3 mt-3 mt-md-5">
    <div class="col-6">
      <a
        class="app-btn blu flex vert"
        href="/app/android/rpmfy-v0.1.0-alpha.apk"
      >
        <!--                 <i><img src="images/playstore.svg" height="30" /></i> -->
        <p class="pl-1">
          Download for <br />
          <span class="big-txt">Android</span>
        </p>
      </a>
    </div>
  </div>
</div>
<div class="col-12 col-md-7">
  <img src="images/mobile_infograph.png" class="d-block mx-auto img-fluid" />
</div>

{{ end }}
