{{ define "main"}}

<div class="col-12 col-md-5">
    <h5>Welcome To RPM</h5>
    <h1 class="typo__h1">Manage it all, in this all new system.</h1>
    <p class="typo__h5 mt-3">
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
    </p>
    <div class="row g-2 g-lg-3 mt-3 mt-md-5">
        <div class="col">
            <a class="app-btn blu flex vert" href="#">
                <i class="fa fa-apple"></i>
                <p>Available on the <br /> <span class="big-txt">App Store</span></p>
            </a>
        </div>
        <div class="col">
            <a class="app-btn blu flex vert" href="#">
                <i><img src="images/playstore.svg" height="30" /></i>
                <p class="pl-1">Get it on <br /> <span class="big-txt">Google Play</span></p>
            </a>
        </div>
    </div>
</div>
<div class="col-12 col-md-7">
    <img src="images/mobile_infograph.png" class="d-block mx-auto img-fluid" />
</div>

{{ end }}